.tweetContainer {  

  margin-top: 40px;
  height: 200px;
  border: 3px solid;
  justify-content: space-around;
  flex-wrap: wrap;

}

.tweetContainer:hover {

  box-shadow:10px 10px grey; 

}

.tweetContainer:hover .handle  {

  visibility: visible;

}

.tweetContainer:hover .icons  {

  visibility: visible;

}

.header2 {

  display: flex;
  justify-content: space-between;
  height: 40px;
  margin: 10px;
  margin-top: 20px;

}

.topleft {

  width: 60px;

}
.smallAvatar {

  height: 120%;
  width: auto;
  margin-left: 10px;

}

.tweetName {

  flex-grow: 8;
  padding-top: 10px;
  margin-left: 10px;

}

.handle {
  visibility: hidden;
  margin-right: 15px;

}


.handle:hover {
  visibility: visible;
}



.tweetContent {

  display: flex;  
  height: 60px; 
  margin-left: 40px;
  overflow: auto;

}

#footer {

  display: flex;
  align-items: flex-end;
  height: 35px;
  border-top: solid black 2px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;

}


.posted {

  font-size: 16px;
  margin-left: 20px;
  padding-bottom: 5px;

}

i {
 
  font-size: 18px;

}

.icons  {
  visibility: hidden;
}




.form {

  margin-top: 40px;

}

.icons {

  margin-right: 20px;
  
}
